:host {
  width: 100%;
  padding: 48px;
  background-color: #f3f3f3;
  display: grid;
  max-height: fit-content;
  grid-template-columns: auto;
  gap: 48px;
  @media (min-width: 760px) {
    grid-template-columns: repeat(3, auto);
  }
}
